{% extends "_templates/main/index.html" %}
{% load render_bundle from webpack_loader %}
{% block head_code %}
    {% render_bundle 'entry_views_info_travel_and_stay' %}
{% endblock %}
{% block content %}


    <h1 class="page-title">Travel & Stay</h1>

    <div class="page-section">
        <a id="Accommodations"></a>
        <h3>Accommodations</h3>
        <p>
            We have a hotel room block at the Redmond Inn, approximately 10 minutes from the venue. They have affordable
            room options. Please visit
            <a target="_blank" href="https://reservations.travelclick.com/10700?groupID=3357861">this link</a>
            or call them at (800) 634-8080 and tell them you are booking rooms under the Lessing-Bennett wedding.
        </p>
        <p>
            For other places to say,
            <a target="_blank"
               href="https://www.airbnb.com/s/Redmond--WA--USA/homes?date_picker_type=calendar&query=Redmond%2C%20WA%2C%20USA&checkin=2022-07-08&checkout=2022-07-10">AirBnb</a>
            or
            <a target="_blank"
               href="https://www.vrbo.com/search/keywords:redmond-oregon-united-states-of-america/arrival:2022-07-08/departure:2022-07-10">VRBO</a>
            have a variety of options available in the area around Redmond.
        </p>
    </div>

    <div class="page-section">
        <a id="Things-to-Do"></a>
        <h3>Things to Do</h3>
        <p>
            We are excited that some of our out-of-state friends and family will be enjoying the Pacific Northwest for
            the first time. Here are some of our favorite restaurants, outings, and activities.
        </p>
    </div>

    <div class="page-section">
        <a id="Brunch"></a>
        <h4>Brunch</h4>
        <ul>
            <li>Closest to the wedding venue: <b>Woodblock</b> in Redmond</li>
            <li>Best vegetarian: <b>Cafe Flora</b> in Madison Park, Seattle</li>
            <li>Best in the Seattle area: <b>Dreamland</b> in Fremont, Seattle</li>
        </ul>
    </div>

    <div class="page-section">
        <a id="Restaurants"></a>
        <h4>Restaurants</h4>
        <ul>
            <li>Hawaiian food: <b>Kona Kitchen</b> in Green Lake</li>
            <li>Mexican & Bar: <b>Matador</b> in Ballard</li>
            <li>Fast burgers: <b>Dick’s Drive In</b> (all around Seattle)</li>
        </ul>
    </div>

    <div class="page-section">
        <a id="Seattle-Things-to-Do"></a>
        <h4>Seattle Things to Do</h4>
        <ul>
            <li>
                <b>Museum of Pop Culture (MoPOP)</b>
                - a museum dedicated to not just pop culture, but also Seattle music legends such as Pearl Jam, Jimi
                Hendrix, and Nirvana. They also have excellent exhibits dedicated to Sci-FI, fantasy, and Hip-Hop music.
            </li>
            <li>
                <b>Cafe Mox (Ballard or Bellevue)</b>
                - a restaurant/board game store, Mox allows you to play board games while eating delicious food, with
                great coffee and cocktails depending on the mood.
            </li>
            <li>
                <b>Flatstick Pub</b>
                - indoor mini-golf with alcohol! What else can you ask for?
            </li>
        </ul>
    </div>

    <div class="page-section">
        <a id="Parks"></a>
        <h4>Parks</h4>
        <ul>
            <li>
                <b>Green Lake</b>
                - a massive lake in the middle of the city, this is a great spot for people watching.
            </li>
            <li>
                <b>Washington Park Arboretum / UW Botanical Garden</b>
                - this is where Hannah and Jared had their engagement photos taken, and is absolutely a must-see for
                garden and flower lovers!
            </li>
            <li>
                <b>University of Washington campus</b>
                - not a park, but a beautiful outdoor space nonetheless! Walk around the quad where Hannah spent many
                hours procrastinating on homework!
            </li>
            <li>
                <b>Gasworks Park</b>
                - the BEST view of the city, and a great picnic spot.
            </li>
        </ul>
    </div>

    <div class="page-section">
        <a id="Day-Trips"></a>
        <h4>Day Trips</h4>
        <ul>
            <li>
                <b>Whidbey Island</b>
                - a ferry ride away, Whidbey is Hannah and Jared’s go-to getaway and is a beautiful retreat from the
                city. It’s the perfect destination for an easy day of driving to see the sights and visit the cute
                towns. Notable food spots include Gordon’s on Blueberry Hill for high-end dining and Braeburn for an
                excellent brunch experience.
            </li>
            <li>
                <b>Orcas Island</b>
                - another ferry ride away, it is the perfect destination for camping, hiking, and other outdoor
                activities. It also has a cute town called Eastsound for all your needs while you camp.
            </li>
            <li>
                <b>Snoqualmie Falls</b>
                - a PNW classic, this and the greater Snoqualmie Pass is less than an hour from Seattle. For fans of
                waterfalls and Twin Peaks alike!
            </li>
            <li>
                <b>La Conner</b>
                - this was the destination of Hannah & Jared’s first day trip together. Less than 2 hours a way, it is a
                cute town with shops, food, and a walkable waterfront. Be sure to cross the Rainbow Bridge!
            </li>
        </ul>
    </div>

    <div class="page-section">
        <a id="COVID-19"></a>
        <h3>COVID-19</h3>
        <p>
            We hope to have a night that everyone remembers, but not as a superspreader event. As hosts, we are taking
            all steps to ensure it is as safe as possible, including making it an entirely outdoor event.
            <br><br>
            <b>
                We are requiring all guests, including plus ones, to be fully vaccinated and to show proof of
                vaccination upon arrival.
            </b>
            <br><br>
            If resources permit, we will rapid-test all guests. If you are unable or unwilling to be tested or show
            proof of vaccination, we respectfully ask for you to not attend.
            <br><br>
            We are currently planning for a full event, but we reserve the right to downsize, reschedule, or cancel in
            response to the pandemic. Please follow your comfort level and perceptions of risk when choosing to attend.
            Masks will not be required, but encouraged as a personal choice.
        </p>
    </div>

{% endblock %}
