@font-face {
  font-family: "Libre Baskerville";
  src: url(../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url(../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url(../fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf);
  font-style: italic;
}

@mixin font-brand {
  font-family: "Libre Baskerville", serif;
}

@mixin font-header {
  @include font-brand;
  font-weight: bold;
}

@mixin font-normal {
  font-family: "Roboto", sans-serif;
}

.font-brand {
  @include font-brand;
}

.font-normal {
  @include font-normal
}