{% extends "_templates/main/index.html" %}
{% block content %}

    <h1 class="page-title">About the Venue</h1>

    <div class="page-section">
        <a id="Getting-There"></a>
        <h3>Getting There</h3>
        <p>
            The venue is located at <b>5708 223rd Ave NE, Redmond, WA 98053</b>.
            <br><br>
            You will want to arrive by coming from Redmond-Fall City Rd NE and turning onto 218th Ave NE, then left to
            219th Ave NE, then right to 56th St which becomes 223rd Ave NE, and then the property will be on your right.
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2687.3437278949887!2d-122.04424168419105!3d47.658318592396675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549073aaffde24d9%3A0x68e0e46108c2125e!2s5708%20223rd%20Ave%20NE%2C%20Redmond%2C%20WA%2098053!5e0!3m2!1sen!2sus!4v1646967750429!5m2!1sen!2sus"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div class="page-section">
        <a id="Parking"></a>
        <h3>Parking</h3>
        <p>
            We recommend using Uber, Lyft or Seattle Yellow Cab.
            <br><br>
            Parking inside the property gates is extremely limited and reserved for immediate family, vendors, and the
            wedding party only.
            <br><br>
            There is limited parking outside the gates available for guests. If you are parking at the venue, we highly
            recommend carpooling. Please park alongside the property line in the grass at an angle so that we can fit as
            many cars as possible.
        </p>
    </div>

    <div class="page-section">
        <a id="Turski Residence"></a>
        <h3>Turski Residence</h3>
        <p>
            The venue is a private home and garden owned by the Turski family. The Turskis immigrated from Poland in
            the late 1980's. Their garden is a monument to over 20 years of patient gardening, and is the ever-growing
            passion project of Izabella Turska, who transformed the space from a near empty field to the garden oasis
            that it is today.
            <br><br>
            In 2015, Hannah met one of their sons, Robert, and had the opportunity to visit his parents home. Their
            property was beautiful- a garden escape away from the city. When she showed the place to Jared years later,
            she nudged, "This would be a pretty good wedding venue…"
            <br><br>
            The Turski's have graciously opened up their garden to host the wedding. Hannah and Jared hope you enjoy it
            as much as they do!
        </p>
    </div>

{% endblock %}
