{% extends "_templates/main/index.html" %}
{% load static %}
{% block content %}

    <h1 class="page-title">About the Venue</h1>

    <div class="page-section">
        <a id="Getting-There"></a>
        <h3>Getting There</h3>
        <p>
            <b>The venue is located at:</b> <a href="https://www.saltys.com/seattle" target="_blank">Salty's on Alki Beach</a><br>
            <b>Address:</b> 1936 Harbor Ave SW, Seattle, WA 98126<br>
            <br>
            You will want to arrive by coming via the West Seattle Bridge or it is possible to take a <a href="https://kingcounty.gov/en/dept/metro/travel-options/water-taxi/west-seattle" target="_blank">water taxi</a> from downtown Seattle.
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10764.1433085893!2d-122.3764401!3d47.5865452!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54904073737e7b7f%3A0x84363d5d73c3d28b!2sSalty&#39;s%20on%20Alki%20Beach!5e0!3m2!1sen!2sus!4v1704861096238!5m2!1sen!2sus"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div class="page-section">
        <a id="Parking"></a>
        <h3>Parking</h3>
        <p>
            We recommend using Uber, Lyft or Seattle Yellow Cab. You are also free to drive, there is some parking
            available at the venue, as well as some street parking on Alki Beach.
            <br><br>
            Remember that this will be a summer wedding and Alki beach can get a little bit crowded. If you are parking
            at the venue, we highly recommend carpooling.
        </p>
    </div>

    <div class="page-section">
        <a id="Salty's on Alki Beach"></a>
        <h3>Salty's on Alki Beach</h3>
        <p>Website: <a href="https://www.saltys.com/seattle" target="_blank">https://www.saltys.com/seattle</a></p>
        <div class="full-width">
            <div class="img-carousel">
                <img class="photo" loading="lazy" alt="Salty's on Alki Beach" src="{% static "img/places/venue/Alki-Deck.jpg" %}"/>
                <img class="photo" loading="lazy" alt="Salty's on Alki Beach" src="{% static "img/places/venue/Alki-OutsideNight.jpg" %}"/>
                <img class="photo" loading="lazy" alt="Salty's on Alki Beach" src="{% static "img/places/venue/best-city-view.jpg" %}"/>
                <img class="photo" loading="lazy" alt="Salty's on Alki Beach" src="{% static "img/places/venue/Salty-s-at-Alki-Beach-Seattle-WA-d33e55e3-f001-416d-a024-5b90c1dab389.jpg" %}"/>
                <img class="photo" loading="lazy" alt="Salty's on Alki Beach" src="{% static "img/places/venue/saltys-alki_djqvy1.jpg" %}"/>
            </div>
        </div>
    </div>

{% endblock %}
