<p>Hi {{to_name}},</p>
<br><br>
<p>
    We are looking forward to celebrating with you on July 9, 2022! We wanted to communicate what we are doing to limit COVID-19 transmission, and how you can help us in this endeavor.
</p>
<br>
<h3>What we are doing</h3>
<ul>
    <li><u>We will be rapid testing everyone at their first wedding event.</u> Please account for 15 minutes to wait on your test result when planning your arrival.</li>
    <li>All vendors are vaccinated and will be masked.</li>
    <li>All guests are required to be fully vaccinated.</li>
    <li>Masks are not required, but encouraged based off personal preference.</li>
    <li>All wedding events are outdoors.</li>
</ul>
<h3>How you can help</h3>
<ul>
    <li>If you are traveling far distances, <b>please wear masks in transit even when not required</b>. We encourage taking a COVID test before you travel.</li>
    <li>
        If you are eligible for a vaccine booster, <b>go get boosted!</b>. <i>Everyone</i> is eligible for the initial booster and it is <i>highly encouraged</i> to get one! Also, those over the age of 50 and those immunocompromised are eligible for second booster if they have not been boosted in the past 4 months
        (<a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/booster-shot.html">info</a>,
        <a target="_blank" href="https://www.vaccines.gov/search/">schedule</a>).
    </li>
    <li>Avoid large crowds and exercise "better safe than sorry" leading up to the event.</li>
    <li>Stay home if you have any COVID-19 symptoms.</li>
    <li>Take the rapid test we will provide you at your first wedding event. If you test positive, please let us know and do not attend the event.</li>
</ul>
<br>
<p>
    Thankfully, you can acquire 8 tests right now -- for free! From any state, you can request them at
    <a target="_blank" href="https://www.covid.gov/tests">https://www.covid.gov/tests</a>.
    Those in Washington state can request more from the Department of Health at:
    <a target="_blank" href="https://sayyescovidhometest.org/">https://sayyescovidhometest.org/</a>.
</p>
<br>
<p>
    We take this very seriously as we would be devastated if our wedding day got many of our loved ones sick. Your efforts in committing to safety is a way of showing your love and support for us.
</p>
<br><br>
<p>
    Thanks,<br>
    Hannah & Jared<br>
    {{link_home}}
</p>
