<p>Hi {{to_name}},</p>
<br><br>
<p>
    Our wedding is almost here!!! This is a friendly reminder that you've RSVP'd as:
</p>

<br><br>
<p>
    {{#each guest_rsvp_statuses}}
        {{this}}<br><br>
    {{/each}}
</p>
<br><br>
<p>
    And again here are the event details:
</p>

{{# attending_rehearsal }}
    <br><br>
    <h2>Rehearsal</h2>
    <p>
        <b>
            Friday, July 8th, 2022<br>
            ~12pm to ~3pm (we'll be in contact)
        </b>
        <br><br>
        Turski Residence<br>
        <a target="_blank" href="https://goo.gl/maps/Js57jBEFmN2gPnM36">
            5708 223rd Ave NE<br>
            Redmond, WA 98053
        </a>
    </p>
{{/attending_rehearsal}}

{{#if attending_rehearsal_dinner}}
    <br><br>
    <h2>Rehearsal Dinner</h2>
    <p>
        <b>
            Friday, July 8th, 2022<br>
            6pm to 9pm
        </b>
        <br><br>
        Agua Verde Cafe<br>
        <a target="_blank" href="https://g.page/aguaverdecafeseattle?share">
            1303 NE Boat St<br>
            Seattle, WA 98105
        </a>
    </p>
{{/if}}

{{#if attending_wedding}}
    <br><br>
    <h2>Wedding Ceremony</h2>
    <p>
        <b>
            Saturday, July 9th, 2022<br>
            4pm til we drop
        </b>
        <br><br>
        Turski Residence<br>
        <a target="_blank" href="https://goo.gl/maps/Js57jBEFmN2gPnM36">
            5708 223rd Ave NE<br>
            Redmond, WA 98053
        </a>
    </p>
{{/if}}

<br><br>

<p>
    If you have any questions, please check out our
    <a target="_blank" href="{{link_faqs}}">Frequently Asked Questions page</a>.
    Also, feel free to reach out to
    <a href="mailto:jrdbnntt+wedding@gmail.com">Jared</a> and/or
    <a href="mailto:hklessing+wedding@gmail.com">Hannah</a>.
</p>

<p>
    Thanks,<br>
    Hannah & Jared<br>
    {{link_home}}
</p>
