<p>Hi {{to_name}},</p>
<br><br>
<p>
    Our wedding is almost here!!! We are so excited to celebrate with you! This is a friendly reminder of your RSVP status and the details of the wedding event.
</p>
<br>
<p>
    {{#each guest_rsvp_statuses}}
        {{{this}}}<br>
        <br>
    {{/each}}
</p>


{{#if attending_rehearsal_dinner}}
    <br>
    <h2>Rehearsal Dinner</h2>
    <p>
        <b>
            Friday, July 8th, 2022<br>
            Dinner is from 6pm to 9pm
        </b><br>
        <br>
        Agua Verde Cafe<br>
        <a target="_blank" href="https://g.page/aguaverdecafeseattle?share">
            1303 NE Boat St<br>
            Seattle, WA 98105
        </a>
    </p>
{{/if}}

{{#if attending_wedding}}
    <br>
    <h2>Wedding Ceremony</h2>
    <p>
        <b>
            Saturday, June 22nd, 2024<br>
            4pm til we drop
        </b>
        <br><br>
        Salty's on Alki Beach<br>
        <a target="_blank" href="https://maps.app.goo.gl/S3jhLGeG2ZxkFWH6A">
            1936 Harbor Ave SW<br>
            Seattle, WA 98126
        </a>
    </p>
{{/if}}

{{#if attending_rehearsal_dinner }}
    <br>
    <h2>Farewell Brunch</h2>
    <p>
        <i>The family of the bride is hosting an optional farewell brunch for the "newly" joined families and the wedding party to close out the wedding weekend. RSVP is not required.</i><br>
        <br>
        <b>
            Sunday, July 10th, 2022<br>
            10am to 12pm
        </b><br>
        <br>
        Lessing Family's AirBnb<br>
        <a target="_blank" href="https://goo.gl/maps/LHjLtihQJzKxKUUh8">
            11716 NE 67th Place<br>
            Kirkland WA 98033
        </a>
    </p>
{{/if}}
<br><br>
<p>
    If you have any questions regarding parking, accommodations, or the dress code, please check out our
    <a target="_blank" href="{{link_faqs}}">Frequently Asked Questions page</a>.
    Also, feel free to reach out directly to
    <a href="mailto:jrdbnntt+wedding@gmail.com">Jared</a> and/or
    <a href="mailto:hklessing+wedding@gmail.com">Hannah</a>.
</p>
<br>
<p>
    It's happening!! Can't wait to see you soon!
</p>
<br>
<p>
    Thanks,<br>
    Hannah & Jared<br>
    {{link_home}}
</p>
