@mixin font-brand {
  font-family: "Libre Baskerville", serif;
}

@mixin font-header {
  @include font-brand;
  font-weight: bold;
}

@mixin font-normal {
  font-family: "Roboto", sans-serif;
}

// Wedding colors
$wedding-color-emerald-green: rgb(54,73,64);
$wedding-color-warm-neutrals: rgb(255,253,245);
$wedding-color-marigold: rgb(237,160,58);
$wedding-color-accent-dusty-pink: rgb(217,172,155);
$wedding-color-burnt-orange: rgb(200,105,31);
$wedding-color-burgundy: rgb(93,25,31);

// Color utils
$color-light: $wedding-color-warm-neutrals;
$color-dark: $wedding-color-emerald-green;