{% extends "_templates/main/index.html" %}
{% load reservation %}
{% block content %}

    <h1 class="page-title">Reservation Summary</h1>
    <div class="page-section">
        <p class="text-lg-center">
            Reservation Name: {{ reservation.name }}
            <br><br>
            RSVP Code: {{ reservation.access_code }}
        </p>
    </div>

    <div class="row">
        <div class="page-section text-lg-center col-lg">
            <h3>Wedding Ceremony</h3>
            <p>
                You are invited to celebrate the marriage of Natalia & Cosma<br>
                at Salty's on Alki Beach in West Seattle!
                <br><br>
                <b>
                    Saturday, June 22nd, 2024<br>
                    5pm til we drop
                </b>
                <br><br>
                Salty's on Alki Beach<br>
                <a target="_blank" href="https://maps.app.goo.gl/S3jhLGeG2ZxkFWH6A">
                    1936 Harbor Ave SW<br>
                    Seattle, WA 98126
                </a>
            </p>
        </div>
    </div>

    <div class="page-section">
        <p class="text-lg-center">
            {% for guest in guests %}
                {% if forloop.counter > 1 %}
                    <br><br>
                {% endif %}
                {% guest_rsvp_status_sentence guest %}
            {% endfor %}

        </p>
        {% if not is_passed_rsvp_deadline %}
            <br><br>
            <div class="d-flex justify-content-center">
                <a href="{% url 'reservation/rsvp' %}">
                    <button type="button" class="btn btn-primary btn-lg">Edit RSVP</button>
                </a>
            </div>
        {% endif %}
        <br><br>
        <p class="text-lg-center">
            {% if is_passed_rsvp_deadline %}
                The RSVP deadline, {{ rsvp_deadline_date }}, has passed. If you still need to edit your RSVP please
                email Natalia at
                <a target="_blank"
                   href="mailto:nktukan+wedding@gmail.com?subject=Late RSVP Change Request for {{ reservation.name }}">
                    nktukan+wedding@gmail.com
                </a>
                .
            {% else %}
                {% if max_guests_reached %}
                    You are able to edit your RSVP until {{ rsvp_deadline_date }}.
                {% else %}
                    You are able to add another guest by editing your RSVP until <b>{{ rsvp_deadline_date }}</b>.
                {% endif %}
            {% endif %}
        </p>
    </div>



{% endblock %}
