{% block error_summary %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <span>{{ error|escape }}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endblock %}

{# Include the hidden fields #}
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

{# Include the visible fields #}
{% block fields %}
    {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="invalid-feedback">
                    <span>
                        {% for error in field.errors %}
                            {% if forloop.counter > 1 %},{% endif %} {{ error }}
                        {% endfor %}
                    </span>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
