{% extends "_templates/main/index.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block head_code %}
    {% render_bundle 'entry_views_info_story' %}
{% endblock %}
{% block content %}

    <h1 class="page-title">Our Story</h1>

    <div class="full-width overflow-hidden-y">
        <div class="img-cover-center">
            <img width="100%" alt="Hannah & Jared at beach" style="max-height: 750px;"
                 src="{% static "img/IMG_20180623_111452.jpg" %}"/>
        </div>
    </div>

    <p>
        By the time Hannah and Jared walk down the aisle, they will have been married for 2 years, 2 months and 14 days.
        <br><br>
        Let’s start at the beginning...
    </p>

    <div class="row">
        <div class="col-xl-5 order-2 order-xl-1">
            <div class="d-flex flex-column justify-content-center">
                <img class="photo photo-vertical mx-auto" width="100%" alt="Jared as Jim"
                     src="{% static "img/IMG_1122.jpg" %}">
            </div>
        </div>
        <div class="col-xl-7 order-1 order-xl-2">
            <div class="d-flex flex-row align-items-center h-100">
                <p>
                    Jared and Hannah met the new old-fashioned way (OkCupid) in October 2017, just a couple months after
                    Jared moved to Seattle from Tallahassee, FL.
                    <br><br>
                    Their first date was at the Hazlewood in Ballard, a snazzy cocktail bar. Hannah was a community
                    mental health case manager and Jared was a software engineer. The conversation was easy because they
                    had no concept of what the other did for a living.
                    <br><br>
                    They moved to the Matador in Ballard, where they admitted to a shared love of Long Island Iced Tea.
                    Hannah got a text asking if she was going to go to a halloween party that night; when they responded
                    saying they were on a date, her friend said, "Bring him!"
                    <br><br>
                    Jared threw together his costume that he had stashed in his car (all three of Jim’s costumes from
                    <i>The Office</i>), and the rest is history...
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-7 order-1 order-xl-1">
            <div class="d-flex flex-row align-items-center h-100">
                <p>
                    They became "official" on November 12, 2019. Over the course of their relationship, Jared and Hannah
                    have seen many significant milestones.
                    <br><br>
                    They moved in together, adopted a fluffy black cat named Leo and a hyperactive Siberian Husky named
                    Ada, Hannah entered and completed the Master of Social Work program at the University of Washington,
                    and supported each other into getting their dream jobs- Hannah as a social worker in an emergency
                    department, Jared as a software engineer at Google.
                    <br><br>
                    Their journey to "always forever" started early, when Jared told Hannah he could only get married
                    after at least "two years." Cue Hannah teasing him relentlessly about having to be ready to propose
                    on November 12, 2019.
                    <br><br>
                    Sure enough, Jared showed up on their anniversary with flowers and a ring box- with a fake ring
                    inside. (Hannah thought it was hilarious). This would be the first of three times he would propose.
                </p>
            </div>
        </div>
        <div class="col-xl-5 order-2 order-xl-2">
            <div class="d-flex flex-column justify-content-center">
                <img class="photo photo-vertical mx-auto" width="100%" alt="Jared as Jim"
                     src="{% static "img/IMG_6948.jpg" %}">
            </div>
        </div>
    </div>

    <p>
        The second time he proposed, it was when the pandemic was just starting, and Hannah lost her health insurance.
        <br><br>
        Well, it was sort of a proposal&ndash; Hannah was in head-to-toe sweats playing a video game on the couch (peak
        of romance) when Jared came up and started acting a little suspicious, and asked nervously, "What if we got
        married?"
        <br><br>
        Witnessed and officiated by their best friends, Hannah and Jared had an intimate Zoom ceremony on April 26,
        2020.
    </p>

    <div class="d-flex justify-content-center full-width">
        <img class="photo" width="100%" alt="Zoom Ceremony Screenshot"
             src="{% static "img/zoom_ceremony_screenshot.png" %}">
    </div>

    <p>
        With the world on fire, Hannah and Jared kept the big news to themselves, quietly realizing that married life
        was no different than dating. In November 2020, Jared proposed with a real engagement ring- and they officially
        "went public" with their "engagement."
    </p>

    <div class="row">
        <div class="col"></div>
        <div class="col-xl-5">
            <div class="d-flex justify-content-center">
                <img class="photo photo-vertical mx-auto" width="100%" alt="Hannah Proposal Reaction"
                     src="{% static "img/IMG_8969.jpg" %}">
            </div>
        </div>
        <div class="col"></div>
    </div>



    {#  TODO something about now time for wedding  #}

{% endblock %}
