{% extends "_templates/main/index.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block head_code %}
    {% render_bundle 'entry_views_info_story' %}
{% endblock %}
{% block content %}

    <h1 class="page-title">Our Story</h1>

    <div class="page-section">
        <div class="full-width-until-xxl">
            <img class="photo" src="{% static 'img/couple/IMG_6658.jpg' %}" width="100%"
                 alt="Natalia & Cosma"/>
        </div>
    </div>

    <p>
        It started with a random algorithmic match and a coffee spill.
        <br><br>
        Cosma and Natalia met the old fashion way, by matching via Hinge in October of 2021. Their first date was at a
        cute little french bakery on Capitol Hill, Bakery Nouveau. Neither one was looking for their soulmate but what
        the heck? From the time that Natalia spilled her coffee all over the ground, completely unaware of her
        surroundings while entrenched in a story, Cosma knew that the spark was there.
        <br><br>
        Although neither of them have ever dated other eastern europeans, they quickly realized that they not only
        shared some cultural similarities but also had a very familiar immigration story. On top of that... just being huge
        nerds, loving snacks, video games, sports, anime, sci-fi shows and much more.
        <br><br>
        Natalia knew that this was “it” during their second date, when they went bouldering at the Seattle Bouldering
        Project, where they spent the entire time comfortably laughing and joking around. Afterwards, grabbing dinner in
        Chinatown and continuously gushing over their similarities and hopes for the future. She called her mom on the
        way back, letting her know that she was now “in real trouble”, as she knew that Cosma was the one.
        <br><br>
        They moved in together and adopted their very cuddly and adorable cat Enzo. From there, all three have been
        inseparable.
        <br><br>
        Over the years, they shared a lot of adventures, from traveling to Hawaii, Italy, Turkey and Bermuda, to
        attending operas, plays, jazz and comedy shows. Not forgetting the more ‘riskier’ activities that made their
        parents uneasy, such as skydiving, longboarding, parasailing and of course, motorcycle riding.
        <br><br>
        They got engaged at the very spot where they met, right at the same bench in front of Bakery Nouveau, after
        sharing their favorite double baked chocolate and almond croissants. The same place they visit every year on
        their anniversary, to remember how it all started - with a coffee spill. Cosma proposed with a beautiful Italian
        antique, the same one they excitedly purchased on their trip to Italy, a few months before. And although he held
        the ring box upside down from nervousness, Natalia of course said yes, without any hesitations (and a couple of
        laughs, because it’s who they are).
        <br><br>
        We are excited to celebrate our love at our wedding ceremony with our friends and family on
        Saturday, June 22, 2024!
    </p>

    <div class="full-width">
        <div class="img-carousel">
            <img class="photo" loading="lazy" alt="Natalia & Cosma" src="{% static "img/couple/IMG_2394.jpg" %}"/>
            <img class="photo" loading="lazy" alt="Natalia & Cosma" src="{% static "img/couple/IMG_5240.jpg" %}"/>
            <img class="photo" loading="lazy" alt="Natalia & Cosma" src="{% static "img/couple/IMG_5681.jpg" %}"/>
            <img class="photo" loading="lazy" alt="Natalia & Cosma" src="{% static "img/couple/IMG_9534.jpg" %}"/>
            <img class="photo" loading="lazy" alt="Natalia & Cosma" src="{% static "img/couple/IMG_6658.jpg" %}"/>
            <img class="photo" loading="lazy" alt="Natalia & Cosma" src="{% static "img/couple/IMG_7388.jpg" %}"/>
            <img class="photo" loading="lazy" alt="Natalia & Cosma" src="{% static "img/couple/IMG_8600.jpg" %}"/>
            <img class="photo" loading="lazy" alt="Natalia & Cosma" src="{% static "img/couple/IMG_4801.jpg" %}"/>
            <img class="photo" loading="lazy" alt="Natalia & Cosma" src="{% static "img/couple/enzo.jpg" %}"/>
            <img class="photo" loading="lazy" alt="Natalia & Cosma" src="{% static "img/couple/IMG_8640.jpg" %}"/>
            <img class="photo" loading="lazy" alt="Natalia & Cosma" src="{% static "img/couple/IMG_2457.jpg" %}"/>
            <img class="photo" loading="lazy" alt="Natalia & Cosma" src="{% static "img/couple/IMG_2533.jpg" %}"/>
        </div>
    </div>

{% endblock %}
