{% extends "_templates/main/index.html" %}
{% load render_bundle from webpack_loader %}
{% block head_code %}
    {% render_bundle 'entry_views_reservation_rsvp' %}
{% endblock %}
{% block content %}

    <h1 class="page-title">Edit RSVP</h1>

    <form action="{% url 'reservation/rsvp' %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="page-section">
                <div class="form-container"
                     style="display: {% if forloop.counter0 in deleted_form_indexes or not form.guest_id.value %}none{% else %}block{% endif %};">
                    {{ form }}
                    {% if forloop.counter != 1 %}
                        <button class="btn-form-delete" type="button">Delete</button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <button class="btn-form-add" type="button" style="display: none;">Add Guest</button>
        {% include '_templates/forms/buttons/submit.html' %}
    </form>

{% endblock %}
