{% extends "_templates/main/index.html" %}
{% load render_bundle from webpack_loader %}
{% block head_code %}
    {% render_bundle 'entry_views_reservation_rsvp' %}
{% endblock %}
{% block content %}

    <h1 class="page-title">Edit RSVP</h1>

    <form action="{% url 'reservation/rsvp' %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="page-section form-container"
                 style="display: {% if forloop.counter0 in deleted_form_indexes or not form.guest_id.value %}none{% else %}block{% endif %};">
                <h3>Guest {{ forloop.counter }}</h3>
                {{ form }}
                {% if forloop.counter != 1 %}
                    <button class="btn-form-delete btn btn-secondary" type="button">Remove
                        Guest {{ forloop.counter }}</button>
                {% endif %}
            </div>
        {% endfor %}
        <div class="page-section" style="display: none;">
            <div class="d-flex justify-content-center">
                <button class="btn-form-add btn btn-secondary" type="button">Add another guest</button>
            </div>
        </div>
        <div class="page-section">
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg">Save RSVP</button>
            </div>
        </div>
    </form>

{% endblock %}
