{% extends "_templates/main/index.html" %}
{% load render_bundle from webpack_loader %}
{% block head_code %}
    {% render_bundle 'entry_views_user_sign_in_user' %}
    {% include "_templates/forms/recaptcha_script.html" with recaptcha_site_key=recaptcha_site_key recaptcha_action=recaptcha_action %}
{% endblock %}
{% block content %}

    <h1 class="page-title">User Sign-in</h1>

    <form id="form_sign_in" action="{% url 'user/sign_in/user' %}{% if redirect %}?redirect=true{% endif %}" method="post">
        {% csrf_token %}
        {{ form }}
        {% include '_templates/forms/buttons/submit.html' with button_text="Sign in" %}
    </form>

{% endblock %}
