{% extends "_templates/main/index.html" %}
{% load static %}
{% block content %}

    <div class="page-section">
        <div class="full-width-until-xxl">
            <img class="photo" src="{% static 'img/couple/IMG_6658.jpg' %}" width="100%"
                 alt="Natalia & Cosma"/>
        </div>
    </div>

    <p class="text-lg-center">
        Come celebrate the marriage of Natalia and Cosma in West Seattle, WA on
        <b>Saturday, June 22, 2024, at 5pm PDT</b>!
        <br><br>
        Please read the details about the
        <a href="{% url 'info/venue' %}">venue space</a>
        before you
        <a href="{% url 'reservation/rsvp' %}">RSVP</a>.
        <br>
        <br>
        Check out the
        <a href="{% url 'info/travel_and_stay' %}">Travel & Stay</a>
        page for info about where you can stay and things you can do while you are in town.
        <br><br>
        We look forward to seeing you!
    </p>

{% endblock %}
