@import 'website/src/css/main/fonts';
@import "website/src/css/bootstrap/variables";
@import "website/src/css/main/variables";

/**
 * Page Navigation
 */
nav {
  .nav-link {
    @include font-brand;
    color: inherit;

    &.active {
      font-weight: bold;
    }

    &:hover {
      color: inherit;
    }
  }

  a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}
