{% extends "_templates/main/index.html" %}
{% load render_bundle from webpack_loader %}
{% block head_code %}
    {% render_bundle 'entry_views_reservation_activate' %}
    {% include "_templates/forms/recaptcha_script.html" with recaptcha_site_key=recaptcha_site_key recaptcha_action=recaptcha_action %}
{% endblock %}
{% block content %}

    <h1 class="page-title">Reservation Activation</h1>

    <form id="form_activate" action="{% url 'reservation/activate' %}" method="post">
        {% csrf_token %}
        {{ form }}
        {% include '_templates/forms/buttons/submit.html' %}
    </form>

{% endblock %}
