{% extends "_templates/main/index.html" %}
{% load render_bundle from webpack_loader %}
{% block head_code %}
    {% render_bundle 'entry_views_info_event' %}
{% endblock %}
{% block content %}

    <h1>Wedding Event Details</h1>
    <p>TODO</p>
    <p>Address: 17601 Redmond Way, Redmond, WA 98052</p>

    <h2>Venue Parking</h2>
    <p>TODO</p>

    <h2>About the Venue</h2>
    <p>The Turski's immigrated from Poland in the late 1980’s. Their garden is a monument to over 20 years of patient gardening, and is the ever-growing passion project of Izabella Turska, who transformed the space from a near empty field to the garden oasis that it is today.</p>
    <p>In 2015, Hannah met Robert Turski and had the opportunity to visit his parents home. Their property was beautiful- a garden escape away from the city. When she showed the place to Jared years later, she nudged, "This would be a pretty good wedding venue..."</p>
    <p>The Turski's have graciously opened their home and garden to host our wedding. Their warm heart can be felt as you walk around the property, and Hannah and Jared hope you love their garden as much as they do.</p>

    <h2>Kid Policy</h2>
    <p>Unfortunately we are only able to accommodate children in the wedding party at our reception.</p>

{% endblock %}
