{% extends "_templates/main/index.html" %}
{% load render_bundle from webpack_loader %}
{% block head_code %}
    {% render_bundle 'entry_views_info_faqs' %}
{% endblock %}
{% block content %}

    <h1 class="page-title">Frequently Asked Questions</h1>

    <div class="page-section">
        <a id="rsvp-code"></a>
        <h3><i>Where can I find my RSVP code?</i></h3>
        <p>
            Your RSVP code is located on the back of your invitation. If you cannot find it or are having any other
            issues RSVPing, please reach out to Jared at <a href="mailto:jrdbnntt+wedding@gmail.com?subject=Wedding Website Help">jrdbnntt@gmail.com</a>.
        </p>
    </div>

    <div class="page-section">
        <a id="dress-code"></a>
        <h3><i>What is the dress code?</i></h3>
        <p>
            Please dress semiformal for this summer wedding. Because it is mostly on soft grass, heels are STRONGLY
            discouraged unless you want to be stuck in the ground.
        </p>
    </div>

    <div class="page-section">
        <a id="kid-policy"></a>
        <h3><i>Are you allowing kids at your wedding?</i></h3>
        <p>
            Unfortunately, we are only able to accommodate children in the wedding party at our reception.
        </p>
    </div>

    <div class="page-section">
        <a id="parking"></a>
        <h3><i>Can I park onsite?</i></h3>
        <p>
            Yes, but there is very limit parking. Please see <a href="{% url 'info/venue' %}#Parking">Parking</a> for
            more details.
        </p>
    </div>

    <div class="page-section">
        <a id="COVID"></a>
        <h3><i>What about COVID?</i></h3>
        <p>
            We hope to have a night that everyone remembers, but not as a superspreader event. As hosts, we are taking
            all steps to ensure it is as safe as possible, including making it an entirely outdoor event.
            <br><br>
            <b>
                We are requiring all guests, including plus ones, to be fully vaccinated and to show proof of
                vaccination upon arrival.
            </b>
            <br><br>
            If resources permit, we will rapid-test all guests. If you are unable or unwilling to be tested or show
            proof of vaccination, we respectfully ask for you to not attend.
            <br><br>
            We are currently planning for a full event, but we reserve the right to downsize, reschedule, or cancel in
            response to the pandemic. Please follow your comfort level and perceptions of risk when choosing to attend.
            Masks will not be required, but encouraged as a personal choice.
        </p>
    </div>

{% endblock %}
