{% extends "_templates/main/index.html" %}
{% block content %}

    <h1 class="page-title">Frequently Asked Questions</h1>

    <div class="page-section">
        <a id="rsvp-code"></a>
        <h3><i>Where can I find my RSVP code?</i></h3>
        <p>
            Your RSVP code is located <b>on the back</b> of your invitation. If you cannot find it or are having any other
            issues RSVPing, please reach out to Cosma at <a
                href="mailto:cosma37@gmail.com?subject=Wedding Website Help">cosma37@gmail.com</a>.
        </p>
    </div>

    <div class="page-section">
        <a id="dress-code"></a>
        <h3><i>What is the dress code?</i></h3>
        <p>
            Please dress semiformal for this summer wedding.
        </p>
    </div>

    <div class="page-section">
        <a id="kid-policy"></a>
        <h3><i>Are you allowing kids at your wedding?</i></h3>
        <p>
            While we love all the rugrats, due to venue capacity, we are limiting the amount of kids at the wedding to
            close family only. If you have any questions, kindly reach out to Cosma and Natalia ahead of the RSVP
            deadline, {{ rsvp_deadline_date }}.
        </p>
    </div>

    <div class="page-section">
        <a id="parking"></a>
        <h3><i>Can I park onsite?</i></h3>
        <p>
            Yes, there is a parking lot at the venue and also street parking along Alki Beach. Please see
            <a href="{% url 'info/venue' %}#Parking">Parking</a>
            for more details.
        </p>
    </div>

    <div class="page-section">
        <a id="COVID"></a>
        <h3><i>What about COVID?</i></h3>
        <p>
            We hope to have a night that everyone remembers, but not as a superspreader event. As hosts, we are taking
            all steps to ensure it is as safe as possible, including planning this for the summer and having a well
            ventilated indoor/outdoor space.
            <br><br>
            We are currently planning for a full event, but we reserve the right to downsize, reschedule, or cancel in
            response to the pandemic. Please follow your comfort level and perceptions of risk when choosing to attend.
            Masks will not be required, but encouraged as a personal choice.

        </p>
    </div>

    <div class="page-section">
        <a id="edit-rsvp"></a>
        <h3><i>Can I change my RSVP?</i></h3>
        <p>
            You are able to make changes to RSVP, including adjusting your guests, until the RSVP
            deadline, <b>{{ rsvp_deadline_date }}</b>. To edit your RSVP, go <a href="{% url 'reservation/rsvp' %}">here</a>.
        </p>
    </div>

    <div class="page-section">
        <a id="rsvp-plus-one"></a>
        <h3><i>Are plus ones allowed?</i></h3>
        <p>
            In most cases, yes. Each invite is allotted a set number of guests. See
            <a href="#rsvp-edit-guest-list">How do I change the guests in my RSVP?</a>
            below for instructions on how to modify your guests. Due to space restrictions, we have limited each invite
            to a certain amount of guests.
        </p>
    </div>

    <div class="page-section">
        <a id="rsvp-edit-guest-list"></a>
        <h3><i>How do I change the guests in my RSVP?</i></h3>
        <p>
            You can modify your guest list by <a href="{% url 'reservation/rsvp' %}">editing your RSVP</a> until the
            RSVP deadline, {{ rsvp_deadline_date }}. Once you are done making changes, click the "Save RSVP" button at
            the bottom of the page.
            <br><br>
            To add a guest to your RSVP, click the "Add another guest" button and enter the information for the new
            guest. If you do not see the "Add another guest" button, you have reached the maximum number of guests that
            your invite has been allotted.
            <br><br>
            To remove a guest from your reservation, click the "Remove Guest X" button underneath the guest that you
            would like to remove. You cannot remove the first guest in your reservation, but you can modify the name to
            make it refer someone else if you want to.
        </p>
    </div>

{% endblock %}
