@import "website/src/css/main/main";
@import "css/page_layout";
@import "css/nav";
@import "css/variables";

$font-size-base: 1.3rem;

body {
  @include font-normal;
  color: $body-color;
  background: $body-bg;
  font-size: $font-size-base;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  @include font-header;
}

p, span, li, .navbar-nav, label {
  font-size: $font-size-base;
}

button.btn {
  @include font-normal;
}

.invalid-feedback, .invalid-feedback span {
  font-size: 1em;
}

.alert {
  margin-bottom: 1em;
}

.brand-large {
  font-size: 1.25em;
  text-align: center;
}

.brand-large {
  margin-top: 100px;
  margin-bottom: 30px;
}

.brand-name {
  @include font-brand;
  font-size: 2em;
  margin-bottom: 15px;
}

img {
  &.photo {
    border-radius: 5px;
    max-width: 2000px;
  }

  &.photo-vertical {
    max-width: 750px;
  }

  &.photo-small {
    max-height: 500px;
  }
}

@media (min-width: $grid-breakpoint-max-sm) {
  .full-width-until-md {
    .photo {
      border-radius: 0;
    }
  }
}

@media (max-width: $grid-breakpoint-max-md) {
  .full-width-until-lg {
    .photo {
      border-radius: 0;
    }
  }
}

@media (max-width: $grid-breakpoint-max-lg) {
  .full-width-until-xl {
    .photo {
      border-radius: 0;
    }
  }
}

@media (max-width: $grid-breakpoint-max-xl) {
  .full-width-until-xxl {
    .photo {
      border-radius: 0;
    }
  }
}


.page-title {
  margin-top: 3rem;
  margin-bottom: $spacer-margin;
}

@media (min-width: $grid-breakpoint-lg) {
  .page-title {
    margin-top: 0;
    text-align: center;
  }
}

.page-section {
  margin-bottom: $spacer-margin;
}


$carousel-margin: 10px;
.img-carousel {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: scroll;
  padding-left: $carousel-margin * 2;
  padding-right: $carousel-margin * 2;

  & > * {
    margin: $carousel-margin;
  }

  img {
    max-height: 800px;
  }

  .caption {
    margin-top: $carousel-margin;
    font-style: italic;
  }
}

.form-group {
  margin-bottom: 1em;
}