{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Language" content="en">

    {# Social #}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{{ base_site_domain }}/static/link_preview.jpg">
    <meta property="og:url" content="{{ base_site_domain }}">
    <meta property="og:description" content="{{ event_date }} &bull; {{ event_location }}">

    {# Title #}
    {% if page_title %}
        <meta property="og:title" content="{{ page_title_prefix }} - {{ page_title }}">
        <title>{{ page_title_prefix }} - {{ page_title }}</title>
    {% else %}
        <meta property="og:title" content="{{ page_title_prefix }}">
        <title>{{ page_title_prefix }}</title>
    {% endif %}

    {# Code #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    {% load render_bundle from webpack_loader %}
    <script>
        {% for key, value in js_window_params %}
            window.{{ key }} = {{ value |safe }}
        {% endfor %}
    </script>
    {% render_bundle 'main' %}
    {% block head_code %}{% endblock %}
</head>
<body>
<div class="main-body-container d-flex flex-column align-items-stretch">
    <div class="header-background">
        <img width="100%" height="auto" src="{% static 'img/layout/top_flower.png' %}">
    </div>
    <div class="main-header">
        <div class="container main-header-container">
            {% block header %}
                <div class="d-none d-lg-block justify-content-center brand-large">
                    <div class="brand-name">HANNAH <i>&</i> JARED</div>
                    <p>
                        <span>{{ event_date }} &bull; {{ event_location }}</span><br>
                        <span id="countdown">&nbsp;</span>
                    </p>
                </div>
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand d-lg-none font-brand" href="{% url 'home' %}">HANNAH <i>&</i> JARED</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent">
                        <i class="bi bi-list"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="navbar-nav w-100 justify-content-center">
                            {# Navagation options #}
                            {% for option in nav_options %}
                                <a class="nav-link{% if option.active %} active{% endif %}"
                                   href="{{ option.href }}">{{ option.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </nav>
            {% endblock %}
        </div>
    </div>

    <div class="main-content flex-grow-1">
        <div class="container main-content-container h-100">
            {% block content %}TODO CONTENT{% endblock %}
        </div>
    </div>

    <div class="main-footer">
        <div class="container main-footer-container">
            {% block footer %}TODO FOOTER{% endblock %}
        </div>
    </div>
</div>
{% block body_code %}{% endblock %}
</body>
</html>