{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Language" content="en">

    {# Social #}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{% static 'img/link_preview/HannahJared_Engagement-2256.jpg' %}">
    <meta property="og:url" content="{{ base_site_domain }}">
    <meta property="og:description" content="{{ event_date }} &bull; {{ event_location }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    {# Title #}
    {% if page_title %}
        <meta property="og:title" content="{{ page_title_prefix }} - {{ page_title }}">
        <title>{{ page_title_prefix }} - {{ page_title }}</title>
    {% else %}
        <meta property="og:title" content="{{ page_title_prefix }}">
        <title>{{ page_title_prefix }}</title>
    {% endif %}

    {# Code #}
    {% load render_bundle from webpack_loader %}
    <script>
        {% for key, value in js_window_params %}
            window.{{ key }} = {{ value |safe }}
        {% endfor %}
    </script>
    {% render_bundle 'main' %}
    {% block head_code %}{% endblock %}
</head>
<body>
<div class="main-body-container d-flex flex-column align-items-stretch">
    <div class="header-background">
        <img width="100%" height="auto" src="{% static 'img/layout/top_flower.png' %}">
    </div>
    <div class="main-header">
        <div class="container main-header-container">
            {% block header %}
                <div class="d-none d-lg-block justify-content-center brand-large">
                    <div class="brand-name">HANNAH <i>&</i> JARED</div>
                    <p>
                        <span>{{ event_date }} &bull; {{ event_location }}</span><br>
                        <span id="countdown">&nbsp;</span>
                    </p>
                </div>
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand d-lg-none font-brand" href="{% url 'home' %}">HANNAH <i>&</i> JARED</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent">
                        <i class="bi bi-list"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="navbar-nav w-100 justify-content-center">
                            {# Navagation options #}
                            {% for option in nav_options %}
                                <a class="nav-link{% if option.active %} active{% endif %}"
                                   href="{{ option.href }}">{{ option.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </nav>
            {% endblock %}
        </div>
    </div>

    <div class="main-content flex-grow-1">
        <div class="container main-content-container h-100">
            {% block content %}TODO CONTENT{% endblock %}
        </div>
    </div>

    <div class="main-footer">
        <div class="container main-footer-container">
            {% block footer %}
                <p class="text-center">
                    &copy; Jared Bennett 2022
                    <a target="_blank" href="https://github.com/jrdbnntt-com/com_jrdbnntt_wedding">
                        <img alt="GitHub Logo" style="height: 1em; margin-top: -0.3em;"
                             src="{% static 'img/layout/GitHub-Mark-32px.png' %}">
                    </a>
                </p>
            {% endblock %}
        </div>
    </div>
</div>
{% block body_code %}{% endblock %}
</body>
</html>