@import "~bootstrap/scss/bootstrap";

.main-body-container {
    background: white;
    min-height: 100vh;
}

.main-header {
    background: lightgray;
}

.main-header-container {

}

.main-footer {
    background: lightgray;
}

.main-footer-container {

}

.main-content {
    background: white;
}

.main-content-container {
    padding-top: 50px;
    padding-bottom: 50px;
}