@import 'website/src/css/fonts';

body {
  @include font-normal
}

h1, h2, h3, h4, h5, h6 {
  @include font-header
}

p, span {
  @include font-normal
}

.nav-link {
  @include font-brand
}

.main-body-container {
  background: white;
  min-height: 100vh;
}

.main-header {
  background: white;
}

.main-header-container {

}

.main-footer {
  background: white;
}

.main-footer-container {

}

.main-content {
  background: white;
}

.main-content-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.brand-large {
  font-size: 1.25em;
  text-align: center;
}

.brand-large {
  margin-top: 100px;
  margin-bottom: 30px;
}

.brand-name {
  @include font-brand;
  font-size: 2em;
  margin-bottom: 15px;
}
