@import 'website/src/css/fonts';

body {
  @include font-serif-body
}

h1, h2, h3, h4, h5, h6 {
  @include font-serif-header
}

p, span {
  @include font-serif-body
}


.main-body-container {
  background: white;
  min-height: 100vh;
}

.main-header {
  background: lightgray;
}

.main-header-container {

}

.main-footer {
  background: lightgray;
}

.main-footer-container {

}

.main-content {
  background: white;
}

.main-content-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.brand-large {
  font-size: 1.25em;
  text-align: center;
}

.brand-name {
  @include font-brand;
  font-size: 2em;
}
